- @no_container = true
- page_title '请求配置文件'
= render 'admin/background_jobs/head'

%div{ class: container_class }
  %h3.page-title
    = page_title

  .bs-callout.clearfix
    传递头
    %code X-Profile-Token: #{@profile_token}
    以配置请求

  - if @profiles.present?
    .prepend-top-default
      - @profiles.each do |path, profiles|
        .panel.panel-default.panel-small
          .panel-heading
            %code= path
          %ul.content-list
            - profiles.each do |profile|
              %li
                = link_to profile.time.to_s(:long), admin_requests_profile_path(profile), data: {no_turbolink: true}
  - else
    %p
      找不到配置文件
