- button_path = local_assigns.fetch(:button_path, false)
- project_select_button = local_assigns.fetch(:project_select_button, false)
- has_button = button_path || project_select_button

.row.empty-state
  .pull-right.col-xs-12{ class: "#{'col-sm-6' if has_button}" }
    .svg-content
      = render 'shared/empty_states/icons/issues.svg'
  .col-xs-12{ class: "#{'col-sm-6' if has_button}" }
    .text-content
      - if has_button
        %h4
          问题跟踪器是添加需要在项目中改进或解决的东西的好地方！
        %p
          问题可能是需要在项目中讨论的错误，待办事项或功能请求。
          此外，问题是可搜索和可过滤的。
        - if project_select_button
          = render 'shared/new_project_item_select', path: 'issues/new', label: '新问题'
        - else
          = link_to '新问题', button_path, class: 'btn btn-new', title: '新问题', id: 'new_issue_link'
      - else
        %h4.text-center 没有问题要显示。
