%div
  = form_for [:profile, @key], html: { class: 'js-requires-input' } do |f|
    = form_errors(@key)

    .form-group
      = f.label :key, "公钥", class: 'label-light'
      = f.text_area :key, class: "form-control", rows: 8, required: true, placeholder: "不要粘贴的SSH密钥的私钥。请粘贴公钥部分,通常是包含'~/.ssh/id_rsa.pub'文件中，以'ssh-rsa开始的文本。"
    .form-group
      = f.label :title, "标题", class: 'label-light'
      = f.text_field :title, class: "form-control", required: true

    .prepend-top-default
      = f.submit '增加密钥', class: "btn btn-create"
