.row.prepend-top-default.append-bottom-default
  .col-lg-3
    %h4.prepend-top-0
      环境
    %p
      环境允许您跟踪应用程序的部署，了解更多的环境
      = succeed "。" do
        = link_to "了解更多的环境", help_page_path("ci/environments")

  = form_for [@project.namespace.becomes(Namespace), @project, @environment], html: { class: 'col-lg-9' } do |f|
    = form_errors(@environment)

    .form-group
      = f.label :name, '名称', class: 'label-light'
      = f.text_field :name, required: true, class: 'form-control'
    .form-group
      = f.label :external_url, '外部 URL', class: 'label-light'
      = f.url_field :external_url, class: 'form-control'

    .form-actions
      = f.submit '保存', class: 'btn btn-save'
      = link_to '取消', namespace_project_environments_path(@project.namespace, @project), class: 'btn btn-cancel'
