- @no_container = true
- page_title "环境"
= render "projects/pipelines/head"

%div{ class: container_class }
  - if can?(current_user, :create_environment, @project) && !@environments.blank?
    .top-area
      .nav-controls
        = link_to new_namespace_project_environment_path(@project.namespace, @project), class: 'btn btn-create' do
          新环境

  - if @environments.blank?
    .blank-state.blank-state-no-icon
      %h2.blank-state-title
        你现在没有任何环境。
      %p.blank-state-text
        环境是代码被部署的地方，如测试或生产。
        %br
        = succeed "。" do
          = link_to "阅读更多关于环境", help_page_path("ci/environments")
      - if can?(current_user, :create_environment, @project)
        = link_to new_namespace_project_environment_path(@project.namespace, @project), class: 'btn btn-create' do
          新环境
  - else
    .table-holder
      %table.table.builds.environments
        %tbody
          %th 环境
          %th 上次部署
          %th 提交
          %th
          %th
        = render @environments
