- title = local_assigns.fetch(:title, '指派标记')
- show_create = local_assigns.fetch(:show_create, true)
- show_footer = local_assigns.fetch(:show_footer, true)
- filter_placeholder = local_assigns.fetch(:filter_placeholder, '搜索标记')
- show_boards_content = local_assigns.fetch(:show_boards_content, false)
.dropdown-page-one
  = dropdown_title(title)
  - if show_boards_content
    .issue-board-dropdown-content
      %p
        每个标记在您的问题跟踪器中可以有自己专用的列表。请在下面选择一个标签添加一个列表到您的面板，它会自动填充有该标签的问题。您可以在简单地创建一个标记。
  = dropdown_filter(filter_placeholder)
  = dropdown_content
  - if @project && show_footer
    = dropdown_footer do
      %ul.dropdown-footer-list
        - if can?(current_user, :admin_label, @project)
          %li
            %a.dropdown-toggle-page{href: "#"}
              创建新标记
        %li
          = link_to namespace_project_labels_path(@project.namespace, @project), :"data-is-link" => true do
            - if show_create && @project && can?(current_user, :admin_label, @project)
              管理标记
            - else
              查看标记
  = dropdown_loading
