%h3.page-title 需要授权
%main{:role => "main"}
  %p.h4
    授权
    %strong.text-info= @chat_name_params[:chat_name]
    使用您的账户

  %hr
  .actions
    = form_tag profile_chat_names_path, method: :post do
      = hidden_field_tag :token, @chat_name_token.token
      = submit_tag "授权", class: "btn btn-success wide pull-left"
    = form_tag deny_profile_chat_names_path, method: :delete do
      = hidden_field_tag :token, @chat_name_token.token
      = submit_tag "拒绝", class: "btn btn-danger prepend-left-10"
