- page_title "Web钩子"
- context_title = @project ? 'project' : 'group'

.row.prepend-top-default
  .col-lg-3
    %h4.prepend-top-0
      = page_title
    %p
      #{link_to "Web钩子", help_page_path("web_hooks/web_hooks")}
      可以用于项目种发生事件时运行绑定的事件。
  .col-lg-9.append-bottom-default
    = form_for hook, as: :hook, url: polymorphic_path(url_components + [:hooks]) do |f|
      = form_errors(hook)

      .form-group
        = f.label :url, "链接", class: 'label-light'
        = f.text_field :url, class: "form-control", placeholder: 'http://example.com/trigger-ci.json'
      .form-group
        = f.label :token, "私密授权码", class: 'label-light'
        = f.text_field :token, class: "form-control", placeholder: ''
        %p.help-block
          使用此授权码来验证接收信息的有效性。它将在 HTTP请求头 x-gitlab-token 中发送。
      .form-group
        = f.label :url, "触发", class: 'label-light'
        %ul.list-unstyled
          %li
            = f.check_box :push_events, class: 'pull-left'
            .prepend-left-20
              = f.label :push_events, class: 'list-label' do
                %strong 推送事件
              %p.light
                此链接将在推送到版本仓库时触发
          %li
            = f.check_box :tag_push_events, class: 'pull-left'
            .prepend-left-20
              = f.label :tag_push_events, class: 'list-label' do
                %strong 标签推送事件
              %p.light
                此链接将在推送新标签到版本仓库时触发
          %li
            = f.check_box :note_events, class: 'pull-left'
            .prepend-left-20
              = f.label :note_events, class: 'list-label' do
                %strong 评论
              %p.light
                此链接将在有人发表了评论时触发
          %li
            = f.check_box :issues_events, class: 'pull-left'
            .prepend-left-20
              = f.label :issues_events, class: 'list-label' do
                %strong 问题事件
              %p.light
                此链接将在问题被创建/更新/合并时触发
          %li
            = f.check_box :confidential_issues_events, class: 'pull-left'
            .prepend-left-20
              = f.label :confidential_issues_events, class: 'list-label' do
                %strong 秘密问题的事件
              %p.light
                此链接将在秘密问题被创建/更新/合并时触发
          %li
            = f.check_box :merge_requests_events, class: 'pull-left'
            .prepend-left-20
              = f.label :merge_requests_events, class: 'list-label' do
                %strong 合并请求事件
              %p.light
                此链接将在合并请求被创建/更新/合并时触发
          %li
            = f.check_box :build_events, class: 'pull-left'
            .prepend-left-20
              = f.label :build_events, class: 'list-label' do
                %strong 构建事件
              %p.light
                此链接将在构建状态变化时触发
          %li
            = f.check_box :pipeline_events, class: 'pull-left'
            .prepend-left-20
              = f.label :pipeline_events, class: 'list-label' do
                %strong 管道事件
              %p.light
                此链接将在管道状态变化时触发
          %li
            = f.check_box :wiki_page_events, class: 'pull-left'
            .prepend-left-20
              = f.label :wiki_page_events, class: 'list-label' do
                %strong 维基页面事件
              %p.light
                此链接将在危机页面被创建/更新时触发
      .form-group
        = f.label :enable_ssl_verification, "SSL 验证证书", class: 'label-light checkbox'
        .checkbox
          = f.label :enable_ssl_verification do
            = f.check_box :enable_ssl_verification
            %strong 启用 SSL 验证证书
      = f.submit "添加 Web钩子", class: "btn btn-create"
    %hr
    %h5.prepend-top-default
      Web钩子 (#{hooks.count})
    - if hooks.any?
      %ul.well-list
        - hooks.each do |hook|
          = render "project_hook", hook: hook
    - else
      %p.settings-message.text-center.append-bottom-0
        没有发现web钩子，请填写上述表格。
