- page_title "GitHub 导入"
- header_title "项目", root_path

%h3.page-title
  = icon 'github', text: 'GitHub 导入'

- if github_import_configured?
  %p
    导入一个GitHub项目，您首先需要授权gitlab访问您的GitHub库列表：

  = link_to '获取您的GitHub库列表', status_import_github_path, class: 'btn btn-success'

  %hr

%p
  - if github_import_configured?
    或者,
  - else
    导入一个GitHub项目，您可以使用一个
  = succeed '。' do
    = link_to '个人访问令牌', 'https://github.com/settings/tokens'
  当您创建您的个人访问令牌时，您将需要选择 <code>repo</code> 范围，这样我们就可以显示一个可用于导入的公共和私人存储库列表。

= form_tag personal_access_token_import_github_path, method: :post, class: 'form-inline' do
  .form-group
    = text_field_tag :personal_access_token, '', class: 'form-control', placeholder: "个人访问令牌", size: 40
    = submit_tag '获取您的GitHub库列表', class: 'btn btn-success'

- unless github_import_configured?
  %hr
  %p
    备注:
    - if current_user.admin?
      作为一个管理员，您可能喜欢配置
    - else
      您可以要求您的gitlab管理员配置
    = link_to 'GitHub 集成，', help_page_path("integration/github")
    这将生成一个个人访问令牌用于登录GitHub和导入GitHub项目。
