.pipeline-graph-container
  .row-content-block.build-content.middle-block.pipeline-actions
    .pull-right
      - if can?(current_user, :update_pipeline, pipeline.project)
        - if pipeline.builds.latest.failed.any?(&:retryable?)
          = link_to "重试失败", retry_namespace_project_pipeline_path(pipeline.project.namespace, pipeline.project, pipeline.id), class: 'btn btn-grouped btn-primary', method: :post

        - if pipeline.builds.running_or_pending.any?
          = link_to "取消运行", cancel_namespace_project_pipeline_path(pipeline.project.namespace, pipeline.project, pipeline.id), data: { confirm: '你确定继续?' }, class: 'btn btn-grouped btn-danger', method: :post

    .oneline.clearfix
      - if defined?(pipeline_details) && pipeline_details
        管道
        = link_to "##{pipeline.id}", namespace_project_pipeline_path(pipeline.project.namespace, pipeline.project, pipeline.id), class: "monospace"
        中为
        - if pipeline.ref
          = link_to pipeline.ref, namespace_project_commits_path(pipeline.project.namespace, pipeline.project, pipeline.ref), class: "monospace"
        - if defined?(link_to_commit) && link_to_commit
          提交
          = link_to pipeline.short_sha, namespace_project_commit_path(pipeline.project.namespace, pipeline.project, pipeline.sha), class: "monospace"
        - if pipeline.duration
          进行了 #{pipeline.statuses.count(:id)} 次构建，共耗时
          = time_interval_in_words pipeline.duration

  .row-content-block.build-content.middle-block.pipeline-graph.hidden
    .pipeline-visualization
      %ul.stage-column-list
        - stages = pipeline.stages_with_latest_statuses
        - stages.each do |stage, statuses|
          %li.stage-column
            .stage-name
              %a{name: stage}
              - if stage
                = stage.titleize
            .builds-container
              %ul
                = render "projects/commit/pipeline_stage", statuses: statuses


- if pipeline.yaml_errors.present?
  .bs-callout.bs-callout-danger
    %h4 在 .gitlab-ci.yml: 中发现错误
    %ul
      - pipeline.yaml_errors.split(",").each do |error|
        %li= error
    你也可以在.gitlab-ci.yml中测试 #{link_to "Lint", ci_lint_path}

- if pipeline.project.builds_enabled? && !pipeline.ci_yaml_file
  .bs-callout.bs-callout-warning
    \.gitlab-ci.yml not found in this commit

.table-holder.pipeline-holder
  %table.table.ci-table.pipeline
    %thead
      %tr
        %th 状态
        %th 构建 ID
        %th 名称
        %th
        - if pipeline.project.build_coverage_enabled?
          %th 覆盖
        %th
    - pipeline.statuses.relevant.stages.each do |stage|
      = render 'projects/commit/ci_stage', stage: stage, statuses: pipeline.statuses.relevant.where(stage: stage)
