%li.user-row
  .user-avatar
    = image_tag avatar_icon(user), class: "avatar", alt: ''
  .user-details
    .user-name
      = link_to user.name, [:admin, user]
    - if user.blocked?
      %span.label.label-danger blocked
    - if user.admin?
      %span.label.label-success Admin
    - if user.external?
      %span.label.label-default External
    - if user == current_user
      %span 是你！
    .user-email
      = mail_to user.email, user.email
  .controls
    = link_to '编辑', edit_admin_user_path(user), id: "edit_#{dom_id(user)}", class: 'btn'
    - unless user == current_user
      .dropdown.inline
        %a.dropdown-new.btn.btn-default#project-settings-button{href: '#', data: { toggle: 'dropdown' } }
          = icon('cog')
          = icon('caret-down')
        %ul.dropdown-menu.dropdown-menu-align-right
          %li.dropdown-header
            设置
            %li
              - if user.ldap_blocked?
                %span.small Cannot unblock LDAP blocked users
              - elsif user.blocked?
                = link_to '解除锁定', unblock_admin_user_path(user), method: :put
              - else
                = link_to '锁定', block_admin_user_path(user), data: { confirm: '用户将被锁定！你确定？' }, method: :put
            - if user.access_locked?
              %li
                = link_to '解除锁定', unlock_admin_user_path(user), method: :put, class: 'btn-grouped btn btn-xs btn-success', data: { confirm: '你确定继续？' }
          - if user.can_be_removed?
            %li.divider
            %li
              = link_to '删除用户', [:admin, user], data: { confirm: "用户 #{user.name} 将被删除！与此用户关联的所有问题，合并请求和群组也将被删除！请考虑取消此删除并阻止用户。你确定？" },
                                                   class: 'btn btn-remove btn-block',
                                                   method: :delete
