%h3 共享Runners

.bs-callout.bs-callout-warning.shared-runners-description
  - if current_application_settings.shared_runners_text.present?
    = markdown_field(current_application_settings, :shared_runners_text)
  - else
    GitLab共享Runners在同一个Runners上执行不同项目的代码，除非您使用最大1个构建并且配置GitLab Runner 自动缩放（它在GitLab.com上）。
  %hr
  - if @project.shared_runners_enabled?
    = link_to toggle_shared_runners_namespace_project_runners_path(@project.namespace, @project), class: 'btn btn-warning', method: :post do
      禁用共享Runners
  - else
    = link_to toggle_shared_runners_namespace_project_runners_path(@project.namespace, @project), class: 'btn btn-success', method: :post do
      启用共享Runners
  &nbsp; 为这个项目

- if @shared_runners_count.zero?
  此GitLab服务器尚未提供任何共享的运行程序。
  请使用特定的Runners或要求您的管理员创建一个。
- else
  %h4.underlined-title 可用的共享Runners : #{@shared_runners_count}
  %ul.bordered-list.available-shared-runners
    = render partial: 'runner', collection: @shared_runners, as: :runner
  - if @shared_runners_count > 10
    .light
      和 #{@shared_runners_count - 10} 个更多...
