- project = local_assigns[:project]

.context.prepend-top-default
  .milestone-summary
    %h4 进度
    .milestone-stats-and-buttons
      .milestone-stats
        %span.milestone-stat.with-drilldown
          共
          %strong= milestone.issues_visible_to_user(current_user).size
          个问题：
        %span.milestone-stat
          未关闭
          %strong= milestone.issues_visible_to_user(current_user).opened.size
          个/已关闭
          %strong= milestone.issues_visible_to_user(current_user).closed.size
          个
        %span.milestone-stat.with-drilldown
          共
          %strong= milestone.merge_requests.size
          个合并请求：
        %span.milestone-stat
          未合并
          %strong= milestone.merge_requests.opened.size
          个/已合并
          %strong= milestone.merge_requests.merged.size
          个
        %span.milestone-stat
          完成
          %strong== #{milestone.percent_complete(current_user)}%
        %span.milestone-stat
          %span.remaining-days= milestone_remaining_days(milestone)
      .milestone-progress-buttons
        %span.tab-issues-buttons
          - if project && can?(current_user, :create_issue, project)
            = link_to new_namespace_project_issue_path(project.namespace, project, issue: { milestone_id: milestone.id }), class: "btn", title: "新问题" do
              新问题
          = link_to '浏览问题', milestones_browse_issuables_path(milestone, type: :issues), class: "btn"
        %span.tab-merge-requests-buttons.hidden
          = link_to '浏览合并请求', milestones_browse_issuables_path(milestone, type: :merge_requests), class: "btn"
    = milestone_progress_bar(milestone)
